<h1>{{nombre}}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{nombre}}</dd>

    <td>Edad: </td>
    <dd>{{edad}}</dd>

    <td>Función: </td>
    <dd>{{obtenerNombre()}}</dd>

    <td>Capitalizado: </td>
    <!--Podemos acceder directamente al nombre
        <dd>{{nombre.toUpperCase()}}</dd>-->
    <!--O realizar el get en el component que sería la manera correcta-->
    <dd>{{nombreCapitalizado}}</dd>
</dl>

<button (click)="cambiarNombre()">
    Cambiar Heroe
</button>

<button (click)="cambiarEdad()">
    Cambiar Edad
</button>